/*Main colors*/
$main-color: #2457e8;

/*Buttons*/
$buttons-color: #82d760;
$buttons-color-light: #e3f6dc;
$buttons-text-color: #fff;

/*Text*/
$text-color-dark: #000;
$text-color-darklight: #333333;
$text-color-light: #fff;
$section-title-color:#212a44;
$section-descr-color: #666666;
