.additional{
    padding: 70px 12.5%;
    &-title{
        @extend %section-title;
        margin-bottom: 60px;
    }
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &-card{
        text-align: center;
        width: 210px;
    }
    &-subtitle{
        font-size: 18px;
        font-weight: 700;
        color: $text-color-darklight;
        margin: 25px 0px;
    }
    &-descr{
        font-size: 14px;
        font-weight: 300;
        color: $section-descr-color;
    }
}